{% extends 'base/base.html.twig' %}

{% block base_title %}
    {% block title %}{% endblock %} {{ parent() }}
{% endblock %}

{% block base_header %}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ theme_onepage ? '#top' : path('app_app_index') }}">{{ website_name }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto"></ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ theme_onepage ? '#news' : path('app_app_news') }}">
                                News
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ theme_onepage ? '#partners' : path('app_app_partner') }}">
                                Partenaires
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ theme_onepage ? '#teams' : path('app_app_team') }}">
                                Nos équipes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ theme_onepage ? '#contact' : path('app_app_contact') }}">
                                Contact
                            </a>
                        </li>
                        {% if website_social_facebook %}
                            <li class="nav-item"><a class="nav-link" href="https://facebook.com/{{ website_social_facebook }}" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                        {% endif %}
                        {% if website_social_twitter %}
                            <li class="nav-item"><a class="nav-link" href="https://twitter.com/{{ website_social_twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        {% endif %}
                        {% if website_social_twitch %}
                            <li class="nav-item"><a class="nav-link" href="https://twitch.tv/{{ website_social_twitch }}" target="_blank"><i class="fa fa-twitch"></i></a></li>
                        {% endif %}
                        {% if website_social_youtube %}
                            <li class="nav-item"><a class="nav-link" href="https://youtube.com/user/{{ website_social_youtube }}" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        {% endif %}
                        {% if website_social_steam %}
                            <li class="nav-item"><a class="nav-link" href="https://steamcommunity.com/profiles/{{ website_social_steam }}" target="_blank"><i class="fa fa-steam"></i></a></li>
                        {% endif %}
                        {% if website_social_google %}
                            <li class="nav-item"><a class="nav-link" href="https://plus.google.com/u/0/{{ website_social_google }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block header %}{% endblock %}
{% endblock %}

{% block base_body %}
    {% block body %}{% endblock %}
{% endblock %}